In [1]:
# Data handling libraries
import pandas as pd
pd.options.display.max_rows = 10000
import numpy as np
import boto3
import io
import requests as req

# Initialize S3 client, location of files for this project
s3_client = boto3.client('s3')
s3_resource = boto3.resource('s3')

s3_bucket = "wri-public-data"

WB_DATA = "resourcewatch/world_bank_data_long_and_wide/"
CONVERSIONS = "resourcewatch/blog_data/GHG-GDP_Divergence_D3/Conversions/"

# Functions for reading and uploading data to/from S3
def read_from_S3(bucket, key, index_col=0):
    obj = s3_client.get_object(Bucket=bucket, Key=key)
    df = pd.read_csv(io.BytesIO(obj['Body'].read()), index_col=[index_col], encoding="utf8")
    return(df)

def write_to_S3(df, bucket, key):
    csv_buffer = io.StringIO()
    df.to_csv(csv_buffer)
    s3_resource.Object(bucket, key).put(Body=csv_buffer.getvalue())

In [2]:
## World Bank data series codes and names

data_names_and_codes = {'EG.ELC.ACCS.ZS': 'Access to electricity (% of population)',
 'EG.FEC.RNEW.ZS': 'Renewable energy consumption (% of total final energy consumption)',
 'IT.NET.USER.ZS': 'Individuals using the Internet (% of population)',
 'NE.CON.PRVT.PC.KD': 'Household final consumption expenditure per capita (constant 2010 US$)',
 'NV.IND.TOTL.KD': 'Industry, value added (constant 2010 US$)',
 'NY.GDP.TOTL.RT.ZS': 'Total natural resources rents (% of GDP)',
 'SG.GEN.PARL.ZS': 'Proportion of seats held by women in national parliaments (%)',
 'SL.EMP.TOTL.SP.ZS': 'Employment to population ratio, 15+, total (%) (modeled ILO estimate)',
 'SM.POP.NETM': 'Net migration',
 'SP.DYN.LE00.IN': 'Life expectancy at birth, total (years)',
 'SP.URB.TOTL.IN.ZS': 'Urban population (% of total)',
 'TM.VAL.MRCH.CD.WT': 'Merchandise imports (current US$)',
 'NY.GDP.MKTP.CD': 'GDP (current US$)'}

In [17]:
# Load conversions from wb_name to iso3
wb_name_to_iso3_conversion = read_from_S3(s3_bucket, CONVERSIONS+"World Bank to ISO3 name conversion.csv")

# Provide function to map from wb_name to ISO3
def add_iso(name):
    try:
        return(wb_name_to_iso3_conversion.loc[name,"ISO"])
    except:
        return(np.nan)

In [24]:
wb_name_to_iso3_conversion

                                ISO
Afghanistan                     AFG
Albania                         ALB
Algeria                         DZA
American Samoa                  ASM
Andorra                         AND
Angola                          AGO
Anguila                         AIA
Antigua and Barbuda             ATG
Argentina                       ARG
Armenia                         ARM
Aruba                           ABW
Australia                       AUS
Austria                         AUT
Azerbaijan                      AZE
Bahamas, The                    BHS
Bahrain                         BHR
Bangladesh                      BGD
Barbados                        BRB
Belarus                         BLR
Belgium                         BEL
Belgium-Luxembourg              BLX
Belize                          BLZ
Benin                           BEN
Bermuda                         BMU
Bhutan                          BTN
Bolivia                         BOL
Bosnia and Herzegovina          BIH
Botswana                        BWA
Br. Antr. Terr                  BAT
Brazil                          BRA
British Indian Ocean Ter.       IOT
British Virgin Islands          VGB
Brunei Darussalam               BRN
Bulgaria                        BGR
Burkina Faso                    BFA
Burundi                         BDI
Cambodia                        KHM
Cameroon                        CMR
Canada                          CAN
Cabo Verde                      CPV
Cayman Islands                  CYM
Central African Republic        CAF
Chad                            TCD
Chile                           CHL
China                           CHN
Christmas Island                CXR
Cocos (Keeling) Islands         CCK
Colombia                        COL
Comoros                         COM
Congo, Dem. Rep.                ZAR
Congo, Rep.                     COG
Cook Islands                    COK
Costa Rica                      CRI
Cote d'Ivoire                   CIV
Croatia                         HRV
Cuba                            CUB
Cyprus                          CYP
Czech Republic                  CZE
Czechoslovakia                  CSK
Denmark                         DNK
Djibouti                        DJI
Dominica                        DMA
Dominican Republic              DOM
East Timor                      TMP
Ecuador                         ECU
Egypt, Arab Rep.                EGY
El Salvador                     SLV
Equatorial Guinea               GNQ
Eritrea                         ERI
Estonia                         EST
Ethiopia                        ETH
Ethiopia (includes Eritrea)     ETF
European Union                  EUN
Faeroe Islands                  FRO
Falkland Island                 FLK
Fiji                            FJI
Finland                         FIN
Fm Panama Cz                    PCZ
Fm Rhod Nyas                    ZW1
Fm Tanganyik                    TAN
Fm Vietnam Dr                   VDR
Fm Vietnam Rp                   SVR
Fm Zanz-Pemb                    ZPM
Fr. So. Ant. Tr                 ATF
France                          FRA
Free Zones                      FRE
French Guiana                   GUF
French Polynesia                PYF
Gabon                           GAB
Gambia, The                     GMB
Gaza Strip                      GAZ
Georgia                         GEO
German Democratic Republic      DDR
Germany                         DEU
Ghana                           GHA
Gibraltar                       GIB
Greece                          GRC
Greenland                       GRL
Grenada                         GRD
Guadeloupe                      GLP
Guam                            GUM
Guatemala                       GTM
Guinea                          GIN
Guinea-Bissau                   GNB
Guyana                          GUY
Haiti                           HTI
Holy See                        VAT
Honduras                        HND
Hong Kong SAR, China            HKG
Hungary                         HUN
Iceland                         ISL
India                           IND
Indonesia                       IDN
Iran, Islamic Rep.              IRN
Iraq                            IRQ
Ireland                         IRL
Israel                          ISR
Italy                           ITA
Jamaica                         JAM
Japan                           JPN
Jhonston Island                 JTN
Jordan                          JOR
Kazakhstan                      KAZ
Kenya                           KEN
Kiribati                        KIR
Korea, Dem. Rep.                PRK
Korea, Rep.                     KOR
Kuwait                          KWT
Kyrgyz Republic                 KGZ
Lao PDR                         LAO
Latvia                          LVA
Lebanon                         LBN
Lesotho                         LSO
Liberia                         LBR
Libya                           LBY
Liechtenstein                   LIE
Lithuania                       LTU
Luxembourg                      LUX
Macao SAR, China                MAC
Macedonia, FYR                  MKD
Madagascar                      MDG
Malawi                          MWI
Malaysia                        MYS
Maldives                        MDV
Mali                            MLI
Malta                           MLT
Marshall Islands                MHL
Martinique                      MTQ
Mauritania                      MRT
Mauritius                       MUS
Mexico                          MEX
Micronesia, Fed. Sts.           FSM
Midway Islands                  MID
Moldova                         MDA
Monaco                          MCO
Mongolia                        MNG
Montserrat                      MSR
Morocco                         MAR
Mozambique                      MOZ
Myanmar                         MMR
Namibia                         NAM
Nauru                           NRU
Nepal                           NPL
Netherlands                     NLD
Netherlands Antilles            ANT
Neutral Zone                    NZE
New Caledonia                   NCL
New Zealand                     NZL
Nicaragua                       NIC
Niger                           NER
Nigeria                         NGA
Niue                            NIU
Norfolk Island                  NFK
Northern Mariana Islands        MNP
Norway                          NOR
Oman                            OMN
Pacific Islands                 PCE
Pakistan                        PAK
Palau                           PLW
Panama                          PAN
Papua New Guinea                PNG
Paraguay                        PRY
Pen Malaysia                    PMY
Peru                            PER
Philippines                     PHL
Pitcairn                        PCN
Poland                          POL
Portugal                        PRT
Puerto Rico                     PRI
Qatar                           QAT
Reunion                         REU
Romania                         ROM
Russian Federation              RUS
Rwanda                          RWA
Ryukyu Is                       RYU
Sabah                           SBH
Saint Helena                    SHN
Saint Kitts-Nevis-Anguilla-Aru  KN1
Saint Pierre and Miquelon       SPM
Samoa                           WSM
San Marino                      SMR
Sao Tome and Principe           STP
Sarawak                         SWK
Saudi Arabia                    SAU
Senegal                         SEN
Seychelles                      SYC
Sierra Leone                    SLE
SIKKIM                          SIK
Singapore                       SGP
Slovak Republic                 SVK
Slovenia                        SVN
Solomon Islands                 SLB
Somalia                         SOM
South Africa                    ZAF
Soviet Union                    SVU
Spain                           ESP
Special Categories              SPE
Sri Lanka                       LKA
St. Kitts and Nevis             KNA
St. Lucia                       LCA
St. Vincent and the Grenadines  VCT
Sudan                           SDN
Suriname                        SUR
Svalbard and Jan Mayen Is       SJM
Swaziland                       SWZ
Sweden                          SWE
Switzerland                     CHE
Syrian Arab Republic            SYR
Taiwan                          TWN
Tajikistan                      TJK
Tanzania                        TZA
Thailand                        THA
Togo                            TGO
Tokelau                         TKL
Tonga                           TON
Trinidad and Tobago             TTO
Tunisia                         TUN
Turkey                          TUR
Turkmenistan                    TKM
Turks and Caicos Isl.           TCA
Tuvalu                          TUV
Uganda                          UGA
Ukraine                         UKR
United Arab Emirates            ARE
United Kingdom                  GBR
United States                   USA
Unspecified                     UNS
Uruguay                         URY
Us Msc.Pac.I                    USP
Uzbekistan                      UZB
Vanuatu                         VUT
Venezuela, RB                   VEN
Vietnam                         VNM
Virgin Islands (U.S.)           VIR
Wake Island                     WAK
Wallis and Futura Isl.          WLF
Western Sahara                  ESH
World                           WLD
Yemen Democratic                YDR
Yemen, Rep.                     YEM
Yugoslavia                      SER
Yugoslavia, FR (Serbia/Montene  YUG
Zambia                          ZMB
Zimbabwe                        ZWE
Montenegro                      MNE
Serbia                          SRB

## Data in long form

In [21]:
indicators = list(data_names_and_codes.keys())
seed = indicators[0]
print(seed)
res = req.get("http://api.worldbank.org/countries/all/indicators/{}?format=json&per_page=10000".format(seed))
#print(res.text)
data = pd.io.json.json_normalize(res.json()[1])
data = data[["country.value", "date", "value"]]
value_name = data_names_and_codes[seed]
data.columns = ["Country Name", "Year", value_name]
data = data.set_index(["Country Name", "Year"])
all_world_bank_data = data

for indicator in indicators[1:]:
    # Results are paginated
    print(indicator)
    res = req.get("http://api.worldbank.org/countries/all/indicators/{}?format=json&per_page=10000".format(indicator))
    #print(res.text)
    data = pd.io.json.json_normalize(res.json()[1])
    data = data[["country.value", "date", "value"]]
    value_name = data_names_and_codes[indicator]
    data.columns = ["Country Name", "Year", value_name]
    data = data.set_index(["Country Name", "Year"])
    all_world_bank_data = all_world_bank_data.join(data, how="outer")
    
all_world_bank_data = all_world_bank_data.reset_index()
all_world_bank_data["ISO3"] = list(map(add_iso, all_world_bank_data["Country Name"]))
all_world_bank_data = all_world_bank_data.loc[pd.notnull(all_world_bank_data["ISO3"])]
all_world_bank_data = all_world_bank_data.set_index(["Country Name", "Year"])

EG.ELC.ACCS.ZS
EG.FEC.RNEW.ZS
IT.NET.USER.ZS
NE.CON.PRVT.PC.KD
NV.IND.TOTL.KD
NY.GDP.TOTL.RT.ZS
SG.GEN.PARL.ZS
SL.EMP.TOTL.SP.ZS
SM.POP.NETM
SP.DYN.LE00.IN
SP.URB.TOTL.IN.ZS
TM.VAL.MRCH.CD.WT
NY.GDP.MKTP.CD

In [23]:
all_world_bank_data.head()

                    Access to electricity (% of population)  \
Country Name   Year
European Union 2016                                    None
               2015                                    None
               2014                                     100
               2013                                     100
               2012                                     100

                    Renewable energy consumption (% of total final energy consumption)  \
Country Name   Year
European Union 2016                                               None
               2015                                               None
               2014                                    16.053026214829
               2013                                   15.1442661475667
               2012                                   14.3811492809133

                    Individuals using the Internet (% of population)  \
Country Name   Year
European Union 2016                                 80.7691050337866
               2015                                 78.4329000006293
               2014                                 77.1139914118683
               2013                                 75.5428368269042
               2012                                 73.7061519154293

                    Household final consumption expenditure per capita (constant 2010 US$)  \
Country Name   Year
European Union 2016                                   19968.1369826023
               2015                                   19583.8758139882
               2014                                   19245.8917008979
               2013                                   19082.6827482441
               2012                                   19160.1520852802

                    Industry, value added (constant 2010 US$)  \
Country Name   Year
European Union 2016                          3988821725434.18
               2015                          3933732615792.92
               2014                          3807777737722.81
               2013                          3731658584714.89
               2012                          3776290013765.67

                    Total natural resources rents (% of GDP)  \
Country Name   Year
European Union 2016                                     None
               2015                        0.209417246513485
               2014                        0.319622359791876
               2013                        0.373596153789426
               2012                        0.441742736714659

                    Proportion of seats held by women in national parliaments (%)  \
Country Name   Year
European Union 2016                                    28.418549063461
               2015                                   28.3813206756945
               2014                                   27.7298367973218
               2013                                   27.0906547133931
               2012                                   25.7243875884594

                    Employment to population ratio, 15+, total (%) (modeled ILO estimate)  \
Country Name   Year
European Union 2016                                   52.3869840451532
               2015                                   52.0274972322686
               2014                                    51.647309286029
               2013                                   51.1848462482815
               2012                                   51.4305598227984

                    Net migration Life expectancy at birth, total (years)  \
Country Name   Year
European Union 2016          None                                    None
               2015          None                        81.1263925006756
               2014          None                        80.9222240747457
               2013          None                        80.5325582676824
               2012       2939221                        80.2510983094042

                    Urban population (% of total)  \
Country Name   Year
European Union 2016              75.0256292946603
               2015              74.7994125343407
               2014              74.5762777055544
               2013              74.3643904260975
               2012              74.1557351122214

                    Merchandise imports (current US$) GDP (current US$) ISO3
Country Name   Year
European Union 2016                     5238161617520  16397979816576.1  EUN
               2015                     5240014279500    16334844026788  EUN
               2014                     6039961349150    18588239232261  EUN
               2013                     5919933634170  18002706275463.5  EUN
               2012                     5863894780480  17271715977529.1  EUN

In [41]:
for code, name in data_names_and_codes.items():
    long_form = all_world_bank_data[name]
    long_form = long_form.reset_index()
    long_form = long_form[pd.notnull(long_form[name])]
    write_to_S3(long_form, s3_bucket, WB_DATA + "wb_data_long_{}.csv".format(name.replace(" ", "_")))

## Data in wide form

In [49]:
df = all_world_bank_data.reset_index()
index_by_countryName = df.columns[0]
columns_by_year = df.columns[1]

# Only go up to -1 b/c we don't need to do this for the ISO column
names = df.columns[2:-1]

for name in names:
    wide_form = df.pivot(index=index_by_countryName,
           columns=columns_by_year,
           values=name)
    wide_form = wide_form.dropna(how="all", axis=1)
    wide_form = wide_form.reset_index()
    wide_form["ISO3"] = list(map(add_iso, wide_form["Country Name"]))
    wide_form = wide_form[pd.notnull(wide_form["ISO3"])]
    # Carto doesn't except column names that are numbers! 
    wide_form.columns = ["yr_" + str(col) for col in wide_form.columns]
    write_to_S3(wide_form, s3_bucket, WB_DATA + "wb_data_wide_{}.csv".format(name.replace(" ", "_")))

In [7]:
# Read in wide form data

names = list(data_names_and_codes.values())
data = {}

for name in names:
    data[name] = read_from_S3(s3_bucket, WB_DATA + "wb_data_wide_{}.csv".format(name.replace(" ", "_")))
    
df = data[names[0]]
df

,yr_Country Name,yr_1990,yr_1991,yr_1992,yr_1993,yr_1994,yr_1995,yr_1996,yr_1997,yr_1998,...,yr_2006,yr_2007,yr_2008,yr_2009,yr_2010,yr_2011,yr_2012,yr_2013,yr_2014,yr_ISO3
0,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27.506411,34.290512,42.400000,47.888466,42.700000,61.514420,69.100000,75.154373,89.500000,AFG
1,Albania,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,ALB
2,Algeria,92.990051,93.393257,93.796013,94.196053,94.590691,94.977211,95.352905,95.715065,96.060997,...,98.490738,98.806519,99.300000,99.443893,99.711174,99.889542,99.973083,99.996918,100.000000,DZA
3,American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ASM
4,Andorra,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,AND
5,Angola,47.833630,47.261116,46.688148,46.112480,45.531395,44.942196,44.342175,43.728622,43.098835,...,37.714977,37.500000,36.405998,35.765507,35.132019,34.600000,33.879036,33.256046,32.000000,AGO
6,Antigua and Barbuda,81.763031,82.435524,83.107567,83.776909,84.440834,85.096649,85.741631,86.373093,86.988312,...,91.564537,92.149811,92.745583,93.350098,93.961617,94.552014,95.198654,95.820679,96.442986,ATG
7,Argentina,90.759087,91.224731,91.689919,92.152405,92.609482,93.058434,93.496567,93.921173,94.329544,...,97.250938,97.629356,98.024818,98.421188,98.820000,99.220192,99.573059,99.831543,100.000000,ARG
8,Armenia,97.251823,97.452187,97.652107,97.849319,98.035034,98.216690,98.387535,98.545059,98.687431,...,99.507156,99.619987,99.739517,99.852890,99.800000,99.983543,99.997940,100.000000,100.000000,ARM
9,Aruba,88.961044,89.251343,89.541191,89.828339,90.110069,90.383690,90.646477,90.895744,91.128769,...,92.647430,92.850510,93.064087,93.286415,93.356292,93.750313,93.988388,94.228210,94.468323,ABW
10,Australia,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,AUS
11,Austria,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,AUT
12,Azerbaijan,93.816238,94.268997,94.721306,95.170914,95.615105,96.051186,96.476433,96.888161,97.283646,...,99.500000,99.967010,99.996063,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,AZE
13,"Bahamas, The",90.269119,90.832504,91.395447,91.955673,92.510490,93.057198,93.593071,94.115417,94.621536,...,98.332748,98.804260,99.255096,99.626709,99.863663,99.968536,99.996613,100.000000,100.000000,BHS
14,Bahrain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,BHR
15,Bangladesh,7.576312,9.997325,12.417888,14.835744,17.800000,19.652517,22.046021,22.400000,26.789738,...,45.354099,46.500000,50.032177,52.385216,55.260000,59.600000,59.479324,61.500000,62.400000,BGD
16,Barbados,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,BRB
17,Belarus,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,BLR
18,Belgium,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,BEL
19,Belize,77.616394,78.295341,78.973846,79.649635,80.320015,80.982285,81.633720,82.271637,82.893311,...,87.521164,88.112892,88.715118,89.326096,89.917224,90.567291,91.194016,91.822487,92.451248,BLZ
20,Benin,7.227713,8.595435,9.962706,11.327271,12.686423,14.037459,14.500000,16.704355,18.014805,...,27.900000,29.433331,30.724327,32.024075,34.200000,36.900000,38.400000,37.275555,34.100000,BEN
21,Bermuda,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,BMU
22,Bhutan,NaN,0.034340,0.260304,1.184689,1.567780,6.682753,11.786902,16.877523,21.951908,...,62.201435,71.800000,72.300804,77.364487,82.435165,87.511101,91.500000,97.671715,100.000000,BTN
23,Bolivia,54.753841,56.303314,57.852337,59.398651,64.100000,62.472343,63.994308,67.330431,71.200000,...,76.211281,80.156567,84.674991,86.765597,84.491974,88.335943,90.387375,89.505686,90.038729,BOL
24,Bosnia and Herzegovina,96.265228,96.535278,96.804871,97.071762,97.333244,97.586609,97.829147,98.046227,98.258286,...,99.631882,99.700000,99.912155,99.976410,99.997040,100.000000,100.000000,100.000000,100.000000,BIH
25,Botswana,5.807373,10.100000,10.151495,12.320624,14.484343,16.639944,18.784721,20.915970,23.030983,...,39.605530,41.690590,43.100000,45.890465,48.001774,53.240000,52.238392,54.360203,56.482304,BWA
26,Brazil,87.475116,89.681335,88.803833,89.999927,91.367691,91.728598,92.867095,93.354139,94.193812,...,97.594314,98.125382,98.526625,98.856938,99.160065,99.328691,99.519494,99.575151,99.650247,BRA
27,British Virgin Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,VGB
28,Brunei Darussalam,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,BRN
29,Bulgaria,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,BGR
30,Burkina Faso,2.752827,3.429683,4.106088,6.100000,5.448075,6.108245,6.757592,7.393410,8.012993,...,12.624096,13.213727,13.813857,14.422738,13.100000,15.659746,16.284376,16.910755,19.200000,BFA
31,Burundi,1.453455,1.733716,2.013525,2.290629,2.562321,2.825896,3.078647,3.317870,3.900000,...,4.979197,5.172233,4.800000,5.588053,5.300000,6.031871,6.500000,6.489688,7.000000,BDI
32,Cabo Verde,28.260683,30.901817,33.542503,36.180481,38.813046,41.437496,44.051121,46.651218,49.235081,...,69.560417,72.114326,74.678734,77.251892,81.100000,82.417458,85.006371,87.597031,90.187973,CPV
33,Cambodia,NaN,0.103671,0.470171,0.554133,2.740148,4.918046,7.085120,9.238665,18.670000,...,28.128895,30.236254,26.400000,34.480717,31.100000,38.753181,40.895538,43.039642,56.100000,KHM
34,Cameroon,30.063799,29.000000,32.481106,33.686825,34.887135,36.079327,37.260696,38.428535,40.700000,...,49.000000,48.200000,50.701225,51.842129,52.990032,53.700000,55.299831,56.458233,56.800000,CMR
35,Canada,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,CAN
36,Cayman Islands,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,CYM
37,Central African Republic,0.398508,0.956473,1.513987,2.068795,2.618192,3.000000,3.689927,4.206854,4.707547,...,8.367522,8.838263,9.319503,9.809492,9.800000,10.808719,11.314457,11.821945,12.329725,CAF
38,Chad,NaN,0.031614,0.110867,0.301872,0.581032,1.008564,1.425273,2.300000,2.215399,...,4.965399,5.322392,5.689885,6.066127,6.400000,6.837861,7.229852,7.623593,8.017626,TCD
39,Chile,92.257427,94.078949,94.560057,94.811325,95.170746,95.522049,95.617315,96.189484,97.241124,...,99.368108,98.928810,99.216896,99.593662,99.738602,99.588193,99.975449,99.600000,100.000000,CHL
40,China,89.394806,89.966988,90.538712,91.107735,91.671349,92.226845,92.771515,93.302658,93.817566,...,97.591255,98.083878,98.576591,99.061661,99.700000,99.794266,99.946846,99.993546,100.000000,CHN
41,Colombia,89.900000,90.710464,91.098648,91.484123,91.864189,91.200000,92.597260,92.944855,93.276215,...,95.581528,95.882935,96.806763,96.057229,96.788995,96.693600,97.032176,97.779418,97.790938,COL
42,Comoros,14.416784,16.950430,19.483624,22.014112,24.539188,27.056147,28.900000,32.054890,34.531261,...,53.996677,56.443100,58.900021,61.365688,63.838356,66.316277,69.300000,71.280861,73.764320,COM
43,"Congo, Dem. Rep.",NaN,0.592188,1.302788,2.010682,2.713164,3.407529,4.091070,4.761083,5.414860,...,10.299520,15.200000,11.557671,12.200746,12.850820,13.506144,15.400000,14.825541,13.500000,ZAR
44,"Congo, Rep.",17.730169,18.850616,19.970613,21.087904,22.199781,23.303543,24.396482,25.475891,26.539066,...,34.698902,35.732124,36.775845,37.100000,38.887787,39.952511,41.600000,42.090702,43.160961,COG
45,Costa Rica,97.240097,97.403564,97.566589,97.726906,97.881813,98.028603,98.164566,98.287003,98.393204,...,99.147523,99.217998,99.263937,99.409804,98.995734,99.232348,99.503298,99.563517,99.359291,CRI
46,Cote d'Ivoire,36.659492,37.787281,38.914616,40.039249,36.500000,42.269569,43.369850,44.456600,45.527115,...,53.745678,54.786240,55.837303,56.897114,57.963928,59.035988,55.800000,61.188862,61.900000,CIV
47,Croatia,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,HRV
48,Cuba,92.065979,92.588120,93.109802,93.628792,94.142365,94.647820,95.142448,95.623550,96.088417,...,99.425148,99.729904,99.910309,99.981903,99.998383,100.000000,100.000000,100.000000,100.000000,CUB
49,Cyprus,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,CYP
50,Czech Republic,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,CZE
51,Denmark,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,DNK
52,Djibouti,63.358940,62.726791,62.094189,61.458885,60.818165,60.169331,62.000000,58.836483,58.147060,...,55.500000,51.566742,50.857864,50.157742,49.464615,48.776737,48.092361,47.409733,46.727398,DJI
53,Dominica,65.470306,67.022820,68.574875,70.124237,71.668182,73.204002,74.729012,76.240486,75.000000,...,89.352081,90.817375,90.900000,93.777695,95.269234,96.766022,98.108841,99.192970,100.000000,DMA
54,Dominican Republic,79.112335,78.200000,81.000931,81.942299,82.878250,83.806084,84.723099,85.626587,86.513832,...,90.118148,96.876342,97.576197,97.857760,98.145414,97.898872,97.867050,98.385853,98.470979,DOM
55,Ecuador,88.814255,89.298401,89.782097,90.263084,90.738663,89.830167,91.662758,92.105865,92.726642,...,96.315259,96.812618,97.206576,96.470862,97.462142,96.872699,97.194929,98.034674,98.976067,ECU
56,"Egypt, Arab Rep.",93.799316,94.170792,93.400000,94.910118,95.273026,95.500000,95.971771,96.302200,96.616402,...,99.040000,99.076332,99.800000,99.635101,99.840637,99.953537,99.992676,99.999649,99.800000,EGY
57,El Salvador,72.167000,69.607880,74.338249,75.420944,76.498230,76.995504,77.883000,79.670555,81.637983,...,89.201467,91.109558,91.000227,91.084020,91.580238,92.574686,93.680571,95.043105,95.125416,SLV
58,Equatorial Guinea,54.833298,55.424465,56.015182,56.603191,57.185791,57.760273,58.323929,58.874058,59.407955,...,63.333549,63.837490,64.351936,64.875122,65.405319,66.100000,66.479698,67.020386,67.561371,GNQ
59,Eritrea,17.059444,18.319191,19.578487,20.835075,22.086254,22.900000,24.561552,25.780262,26.982735,...,36.256962,37.429485,38.612507,39.804279,41.003048,42.207069,43.414589,44.623856,45.833420,ERI
60,Estonia,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,EST
61,Ethiopia,NaN,1.135810,2.292166,3.445816,4.594054,5.734175,6.863473,7.979242,9.078776,...,17.529486,18.599070,19.679150,20.767981,21.863811,23.000000,24.069471,25.175802,27.200000,ETH
62,European Union,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,EUN
63,Fiji,55.248642,57.239330,59.229572,61.217106,63.199226,65.173233,66.900000,69.086067,71.019485,...,86.141258,88.900000,89.958694,91.881409,93.811119,95.746086,97.684547,98.915909,100.000000,FJI
64,Finland,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,FIN
65,France,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,FRA
66,French Polynesia,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,PYF
67,Gabon,63.897953,65.025299,66.152184,67.276367,68.395142,69.505798,70.605629,71.691933,72.762001,...,80.976982,82.017097,83.067719,84.127083,85.193443,86.265060,89.300000,86.400000,89.494194,GAB
68,"Gambia, The",16.772318,18.101406,19.430044,17.700000,22.076498,23.388901,24.690481,25.978533,27.250349,...,37.079319,38.321182,39.573547,40.834660,42.102772,43.376137,44.652996,44.500000,47.210514,GMB
69,Georgia,99.003807,99.110802,99.216476,99.319008,99.416046,99.504959,99.583069,99.647842,99.697464,...,99.775673,99.795532,99.825256,99.863411,99.906700,99.948158,100.000000,99.994476,100.000000,GEO
70,Germany,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,DEU
71,Ghana,23.877020,26.001869,28.126266,30.600000,32.364239,34.472404,36.569744,38.653557,42.600000,...,56.916180,58.953804,60.500000,63.058800,65.122673,64.062560,69.264420,70.700000,78.300000,GHA
72,Gibraltar,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,GIB
73,Greece,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,GRC
74,Greenland,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,GRL
75,Grenada,75.610275,76.304321,76.997910,77.688789,78.374268,79.051620,79.718155,80.371155,81.007927,...,85.756516,86.363335,86.980652,87.606712,88.239784,88.800000,89.519913,90.163475,90.807335,GRD
76,Guam,NaN,NaN,NaN,NaN,NaN,100.000000,100.000000,100.000000,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,GUM
77,Guatemala,60.158733,61.428894,62.698601,63.965599,65.227188,60.800000,67.723312,68.952431,70.165314,...,83.730998,80.705772,81.899200,83.101387,84.310562,84.026414,86.742928,87.962608,85.494371,GTM
78,Guinea,8.830647,9.675253,10.519409,11.360860,12.196898,13.024819,13.841917,14.645486,15.432820,...,21.385931,22.143312,22.911194,23.687826,24.471457,25.260336,26.200000,26.846848,27.641268,GIN
79,Guinea-Bissau,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.410801,1.291538,2.600958,4.700000,6.000000,9.366148,11.630544,13.896689,17.200000,GNB
80,Guyana,69.175240,69.852142,70.528595,72.376631,71.870682,72.530907,73.180305,73.816170,74.435806,...,79.047310,79.636986,80.237167,77.600000,81.462029,82.083206,82.707886,83.334320,86.900000,GUY
81,Haiti,28.440411,28.897062,29.353264,29.806759,30.254841,31.300000,31.123951,31.539564,31.938944,...,33.900000,35.157841,35.537766,35.926445,36.322117,36.723045,37.900000,37.533642,37.940109,HTI
82,Honduras,55.107113,54.781937,58.913112,61.100156,64.733947,66.122022,61.681120,64.794754,66.859519,...,71.266448,73.548187,76.396899,78.269685,80.984668,82.195298,83.607727,87.184881,88.653773,HND
83,"Hong Kong SAR, China",100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,HKG
84,Hungary,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,HUN
85,Iceland,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,ISL
86,India,45.062889,46.544819,48.026299,50.900000,50.978432,52.443676,53.898098,55.338989,56.763645,...,67.900000,69.210045,70.615250,75.000000,76.300000,67.600000,79.900000,77.737518,79.169258,IND
87,Indonesia,60.343273,48.900000,64.028694,55.430000,62.800000,66.860000,72.390000,80.300000,80.940000,...,90.620000,91.100000,92.730000,93.550000,94.150000,94.830000,96.000000,96.464258,97.010000,IDN
88,"Iran, Islamic Rep.",96.152390,96.350273,96.547707,96.742439,96.931755,97.112953,97.283325,97.440178,97.580788,...,98.400000,98.470779,98.591942,98.721848,98.858757,99.000916,99.146568,99.293976,99.441681,IRN
89,Iraq,95.334190,95.539040,95.743439,95.945129,96.141411,96.329575,96.506912,96.670723,96.818298,...,97.653336,98.100000,97.899086,98.035957,98.179832,98.000000,98.481575,98.635941,98.790604,IRQ
90,Ireland,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,IRL
91,Israel,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,ISR
92,Italy,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,ITA
93,Jamaica,70.334586,76.283340,77.251328,78.216606,79.176468,80.128220,85.706045,81.996544,82.907700,...,89.851433,90.732643,92.000000,92.524811,93.432266,91.100000,95.261185,96.179146,97.097389,JAM
94,Japan,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,JPN
95,Jordan,96.800000,97.477577,97.652016,97.823753,97.990074,98.140167,98.285538,98.900000,98.534485,...,99.150406,98.800000,99.334923,99.400000,99.553146,99.670372,99.500000,99.897659,100.000000,JOR
96,Kazakhstan,97.654533,97.817902,97.980820,98.136963,98.289734,99.900000,98.568237,98.688751,98.794128,...,99.317825,99.393776,99.479294,100.000000,99.674438,99.778793,99.875786,99.949844,100.000000,KAZ
97,Kenya,5.607752,6.650735,7.693267,10.900000,9.767508,10.793805,11.809279,12.811224,14.500000,...,21.337055,22.292812,23.259071,23.000000,19.200000,26.203341,27.194098,28.186604,36.000000,KEN

In [10]:
# Convert back to long form
# https://hackernoon.com/reshaping-data-in-python-fa27dda2ff77
pd.melt(df, id_vars = "yr_Country Name", value_vars = df.columns[1:-1])

               yr_Country Name variable       value
0                  Afghanistan  yr_1990         NaN
1                      Albania  yr_1990  100.000000
2                      Algeria  yr_1990   92.990051
3               American Samoa  yr_1990         NaN
4                      Andorra  yr_1990  100.000000
5                       Angola  yr_1990   47.833630
6          Antigua and Barbuda  yr_1990   81.763031
7                    Argentina  yr_1990   90.759087
8                      Armenia  yr_1990   97.251823
9                        Aruba  yr_1990   88.961044
10                   Australia  yr_1990  100.000000
11                     Austria  yr_1990  100.000000
12                  Azerbaijan  yr_1990   93.816238
13                Bahamas, The  yr_1990   90.269119
14                     Bahrain  yr_1990         NaN
15                  Bangladesh  yr_1990    7.576312
16                    Barbados  yr_1990         NaN
17                     Belarus  yr_1990  100.000000
18                     Belgium  yr_1990  100.000000
19                      Belize  yr_1990   77.616394
20                       Benin  yr_1990    7.227713
21                     Bermuda  yr_1990  100.000000
22                      Bhutan  yr_1990         NaN
23                     Bolivia  yr_1990   54.753841
24      Bosnia and Herzegovina  yr_1990   96.265228
25                    Botswana  yr_1990    5.807373
26                      Brazil  yr_1990   87.475116
27      British Virgin Islands  yr_1990         NaN
28           Brunei Darussalam  yr_1990  100.000000
29                    Bulgaria  yr_1990  100.000000
30                Burkina Faso  yr_1990    2.752827
31                     Burundi  yr_1990    1.453455
32                  Cabo Verde  yr_1990   28.260683
33                    Cambodia  yr_1990         NaN
34                    Cameroon  yr_1990   30.063799
35                      Canada  yr_1990  100.000000
36              Cayman Islands  yr_1990  100.000000
37    Central African Republic  yr_1990    0.398508
38                        Chad  yr_1990         NaN
39                       Chile  yr_1990   92.257427
40                       China  yr_1990   89.394806
41                    Colombia  yr_1990   89.900000
42                     Comoros  yr_1990   14.416784
43            Congo, Dem. Rep.  yr_1990         NaN
44                 Congo, Rep.  yr_1990   17.730169
45                  Costa Rica  yr_1990   97.240097
46               Cote d'Ivoire  yr_1990   36.659492
47                     Croatia  yr_1990  100.000000
48                        Cuba  yr_1990   92.065979
49                      Cyprus  yr_1990  100.000000
50              Czech Republic  yr_1990  100.000000
51                     Denmark  yr_1990  100.000000
52                    Djibouti  yr_1990   63.358940
53                    Dominica  yr_1990   65.470306
54          Dominican Republic  yr_1990   79.112335
55                     Ecuador  yr_1990   88.814255
56            Egypt, Arab Rep.  yr_1990   93.799316
57                 El Salvador  yr_1990   72.167000
58           Equatorial Guinea  yr_1990   54.833298
59                     Eritrea  yr_1990   17.059444
60                     Estonia  yr_1990  100.000000
61                    Ethiopia  yr_1990         NaN
62              European Union  yr_1990  100.000000
63                        Fiji  yr_1990   55.248642
64                     Finland  yr_1990  100.000000
65                      France  yr_1990  100.000000
66            French Polynesia  yr_1990  100.000000
67                       Gabon  yr_1990   63.897953
68                 Gambia, The  yr_1990   16.772318
69                     Georgia  yr_1990   99.003807
70                     Germany  yr_1990  100.000000
71                       Ghana  yr_1990   23.877020
72                   Gibraltar  yr_1990  100.000000
73                      Greece  yr_1990  100.000000
74                   Greenland  yr_1990  100.000000
75                     Grenada  yr_1990   75.610275
76                        Guam  yr_1990         NaN
77                   Guatemala  yr_1990   60.158733
78                      Guinea  yr_1990    8.830647
79               Guinea-Bissau  yr_1990         NaN
80                      Guyana  yr_1990   69.175240
81                       Haiti  yr_1990   28.440411
82                    Honduras  yr_1990   55.107113
83        Hong Kong SAR, China  yr_1990  100.000000
84                     Hungary  yr_1990  100.000000
85                     Iceland  yr_1990  100.000000
86                       India  yr_1990   45.062889
87                   Indonesia  yr_1990   60.343273
88          Iran, Islamic Rep.  yr_1990   96.152390
89                        Iraq  yr_1990   95.334190
90                     Ireland  yr_1990  100.000000
91                      Israel  yr_1990  100.000000
92                       Italy  yr_1990  100.000000
93                     Jamaica  yr_1990   70.334586
94                       Japan  yr_1990  100.000000
95                      Jordan  yr_1990   96.800000
96                  Kazakhstan  yr_1990   97.654533
97                       Kenya  yr_1990    5.607752
98                    Kiribati  yr_1990   95.154900
99                 Korea, Rep.  yr_1990         NaN
100                     Kuwait  yr_1990  100.000000
101            Kyrgyz Republic  yr_1990   99.355751
102                    Lao PDR  yr_1990   17.689121
103                     Latvia  yr_1990  100.000000
104                    Lebanon  yr_1990   97.193863
105                    Lesotho  yr_1990         NaN
106                    Liberia  yr_1990         NaN
107                      Libya  yr_1990  100.000000
108              Liechtenstein  yr_1990  100.000000
109                  Lithuania  yr_1990  100.000000
110                 Luxembourg  yr_1990  100.000000
111           Macao SAR, China  yr_1990         NaN
112             Macedonia, FYR  yr_1990   89.840324
113                 Madagascar  yr_1990   10.552478
114                     Malawi  yr_1990    1.897122
115                   Malaysia  yr_1990   93.446144
116                   Maldives  yr_1990   72.697174
117                       Mali  yr_1990         NaN
118                      Malta  yr_1990  100.000000
119           Marshall Islands  yr_1990   51.972141
120                 Mauritania  yr_1990    2.176765
121                  Mauritius  yr_1990   98.638176
122                     Mexico  yr_1990   94.035194
123      Micronesia, Fed. Sts.  yr_1990         NaN
124                      World  yr_1990   73.452760
125                Afghanistan  yr_1991         NaN
126                    Albania  yr_1991  100.000000
127                    Algeria  yr_1991   93.393257
128             American Samoa  yr_1991         NaN
129                    Andorra  yr_1991  100.000000
130                     Angola  yr_1991   47.261116
131        Antigua and Barbuda  yr_1991   82.435524
132                  Argentina  yr_1991   91.224731
133                    Armenia  yr_1991   97.452187
134                      Aruba  yr_1991   89.251343
135                  Australia  yr_1991  100.000000
136                    Austria  yr_1991  100.000000
137                 Azerbaijan  yr_1991   94.268997
138               Bahamas, The  yr_1991   90.832504
139                    Bahrain  yr_1991         NaN
140                 Bangladesh  yr_1991    9.997325
141                   Barbados  yr_1991         NaN
142                    Belarus  yr_1991  100.000000
143                    Belgium  yr_1991  100.000000
144                     Belize  yr_1991   78.295341
145                      Benin  yr_1991    8.595435
146                    Bermuda  yr_1991  100.000000
147                     Bhutan  yr_1991    0.034340
148                    Bolivia  yr_1991   56.303314
149     Bosnia and Herzegovina  yr_1991   96.535278
150                   Botswana  yr_1991   10.100000
151                     Brazil  yr_1991   89.681335
152     British Virgin Islands  yr_1991         NaN
153          Brunei Darussalam  yr_1991  100.000000
154                   Bulgaria  yr_1991  100.000000
155               Burkina Faso  yr_1991    3.429683
156                    Burundi  yr_1991    1.733716
157                 Cabo Verde  yr_1991   30.901817
158                   Cambodia  yr_1991    0.103671
159                   Cameroon  yr_1991   29.000000
160                     Canada  yr_1991  100.000000
161             Cayman Islands  yr_1991  100.000000
162   Central African Republic  yr_1991    0.956473
163                       Chad  yr_1991    0.031614
164                      Chile  yr_1991   94.078949
165                      China  yr_1991   89.966988
166                   Colombia  yr_1991   90.710464
167                    Comoros  yr_1991   16.950430
168           Congo, Dem. Rep.  yr_1991    0.592188
169                Congo, Rep.  yr_1991   18.850616
170                 Costa Rica  yr_1991   97.403564
171              Cote d'Ivoire  yr_1991   37.787281
172                    Croatia  yr_1991  100.000000
173                       Cuba  yr_1991   92.588120
174                     Cyprus  yr_1991  100.000000
175             Czech Republic  yr_1991  100.000000
176                    Denmark  yr_1991  100.000000
177                   Djibouti  yr_1991   62.726791
178                   Dominica  yr_1991   67.022820
179         Dominican Republic  yr_1991   78.200000
180                    Ecuador  yr_1991   89.298401
181           Egypt, Arab Rep.  yr_1991   94.170792
182                El Salvador  yr_1991   69.607880
183          Equatorial Guinea  yr_1991   55.424465
184                    Eritrea  yr_1991   18.319191
185                    Estonia  yr_1991  100.000000
186                   Ethiopia  yr_1991    1.135810
187             European Union  yr_1991  100.000000
188                       Fiji  yr_1991   57.239330
189                    Finland  yr_1991  100.000000
190                     France  yr_1991  100.000000
191           French Polynesia  yr_1991  100.000000
192                      Gabon  yr_1991   65.025299
193                Gambia, The  yr_1991   18.101406
194                    Georgia  yr_1991   99.110802
195                    Germany  yr_1991  100.000000
196                      Ghana  yr_1991   26.001869
197                  Gibraltar  yr_1991  100.000000
198                     Greece  yr_1991  100.000000
199                  Greenland  yr_1991  100.000000
200                    Grenada  yr_1991   76.304321
201                       Guam  yr_1991         NaN
202                  Guatemala  yr_1991   61.428894
203                     Guinea  yr_1991    9.675253
204              Guinea-Bissau  yr_1991         NaN
205                     Guyana  yr_1991   69.852142
206                      Haiti  yr_1991   28.897062
207                   Honduras  yr_1991   54.781937
208       Hong Kong SAR, China  yr_1991  100.000000
209                    Hungary  yr_1991  100.000000
210                    Iceland  yr_1991  100.000000
211                      India  yr_1991   46.544819
212                  Indonesia  yr_1991   48.900000
213         Iran, Islamic Rep.  yr_1991   96.350273
214                       Iraq  yr_1991   95.539040
215                    Ireland  yr_1991  100.000000
216                     Israel  yr_1991  100.000000
217                      Italy  yr_1991  100.000000
218                    Jamaica  yr_1991   76.283340
219                      Japan  yr_1991  100.000000
220                     Jordan  yr_1991   97.477577
221                 Kazakhstan  yr_1991   97.817902
222                      Kenya  yr_1991    6.650735
223                   Kiribati  yr_1991   93.254219
224                Korea, Rep.  yr_1991         NaN
225                     Kuwait  yr_1991  100.000000
226            Kyrgyz Republic  yr_1991   99.430191
227                    Lao PDR  yr_1991   20.266594
228                     Latvia  yr_1991  100.000000
229                    Lebanon  yr_1991   97.418747
230                    Lesotho  yr_1991         NaN
231                    Liberia  yr_1991         NaN
232                      Libya  yr_1991   99.997528
233              Liechtenstein  yr_1991  100.000000
234                  Lithuania  yr_1991  100.000000
235                 Luxembourg  yr_1991  100.000000
236           Macao SAR, China  yr_1991         NaN
237             Macedonia, FYR  yr_1991   90.471878
238                 Madagascar  yr_1991   10.874413
239                     Malawi  yr_1991    2.282601
240                   Malaysia  yr_1991   93.802170
241                   Maldives  yr_1991   73.988541
242                       Mali  yr_1991    0.285910
243                      Malta  yr_1991  100.000000
244           Marshall Islands  yr_1991   53.618294
245                 Mauritania  yr_1991    3.717289
246                  Mauritius  yr_1991   98.721008
247                     Mexico  yr_1991   94.361969
248      Micronesia, Fed. Sts.  yr_1991         NaN
249                      World  yr_1991   71.545637
250                Afghanistan  yr_1992         NaN
251                    Albania  yr_1992  100.000000
252                    Algeria  yr_1992   93.796013
253             American Samoa  yr_1992         NaN
254                    Andorra  yr_1992  100.000000
255                     Angola  yr_1992   46.688148
256        Antigua and Barbuda  yr_1992   83.107567
257                  Argentina  yr_1992   91.689919
258                    Armenia  yr_1992   97.652107
259                      Aruba  yr_1992   89.541191
260                  Australia  yr_1992  100.000000
261                    Austria  yr_1992  100.000000
262                 Azerbaijan  yr_1992   94.721306
263               Bahamas, The  yr_1992   91.395447
264                    Bahrain  yr_1992         NaN
265                 Bangladesh  yr_1992   12.417888
266                   Barbados  yr_1992         NaN
267                    Belarus  yr_1992  100.000000
268                    Belgium  yr_1992  100.000000
269                     Belize  yr_1992   78.973846
270                      Benin  yr_1992    9.962706
271                    Bermuda  yr_1992  100.000000
272                     Bhutan  yr_1992    0.260304
273                    Bolivia  yr_1992   57.852337
274     Bosnia and Herzegovina  yr_1992   96.804871
275                   Botswana  yr_1992   10.151495
276                     Brazil  yr_1992   88.803833
277     British Virgin Islands  yr_1992         NaN
278          Brunei Darussalam  yr_1992  100.000000
279                   Bulgaria  yr_1992  100.000000
280               Burkina Faso  yr_1992    4.106088
281                    Burundi  yr_1992    2.013525
282                 Cabo Verde  yr_1992   33.542503
283                   Cambodia  yr_1992    0.470171
284                   Cameroon  yr_1992   32.481106
285                     Canada  yr_1992  100.000000
286             Cayman Islands  yr_1992  100.000000
287   Central African Republic  yr_1992    1.513987
288                       Chad  yr_1992    0.110867
289                      Chile  yr_1992   94.560057
290                      China  yr_1992   90.538712
291                   Colombia  yr_1992   91.098648
292                    Comoros  yr_1992   19.483624
293           Congo, Dem. Rep.  yr_1992    1.302788
294                Congo, Rep.  yr_1992   19.970613
295                 Costa Rica  yr_1992   97.566589
296              Cote d'Ivoire  yr_1992   38.914616
297                    Croatia  yr_1992  100.000000
298                       Cuba  yr_1992   93.109802
299                     Cyprus  yr_1992  100.000000
300             Czech Republic  yr_1992  100.000000
301                    Denmark  yr_1992  100.000000
302                   Djibouti  yr_1992   62.094189
303                   Dominica  yr_1992   68.574875
304         Dominican Republic  yr_1992   81.000931
305                    Ecuador  yr_1992   89.782097
306           Egypt, Arab Rep.  yr_1992   93.400000
307                El Salvador  yr_1992   74.338249
308          Equatorial Guinea  yr_1992   56.015182
309                    Eritrea  yr_1992   19.578487
310                    Estonia  yr_1992  100.000000
311                   Ethiopia  yr_1992    2.292166
312             European Union  yr_1992  100.000000
313                       Fiji  yr_1992   59.229572
314                    Finland  yr_1992  100.000000
315                     France  yr_1992  100.000000
316           French Polynesia  yr_1992  100.000000
317                      Gabon  yr_1992   66.152184
318                Gambia, The  yr_1992   19.430044
319                    Georgia  yr_1992   99.216476
320                    Germany  yr_1992  100.000000
321                      Ghana  yr_1992   28.126266
322                  Gibraltar  yr_1992  100.000000
323                     Greece  yr_1992  100.000000
324                  Greenland  yr_1992  100.000000
325                    Grenada  yr_1992   76.997910
326                       Guam  yr_1992         NaN
327                  Guatemala  yr_1992   62.698601
328                     Guinea  yr_1992   10.519409
329              Guinea-Bissau  yr_1992         NaN
330                     Guyana  yr_1992   70.528595
331                      Haiti  yr_1992   29.353264
332                   Honduras  yr_1992   58.913112
333       Hong Kong SAR, China  yr_1992  100.000000
334                    Hungary  yr_1992  100.000000
335                    Iceland  yr_1992  100.000000
336                      India  yr_1992   48.026299
337                  Indonesia  yr_1992   64.028694
338         Iran, Islamic Rep.  yr_1992   96.547707
339                       Iraq  yr_1992   95.743439
340                    Ireland  yr_1992  100.000000
341                     Israel  yr_1992  100.000000
342                      Italy  yr_1992  100.000000
343                    Jamaica  yr_1992   77.251328
344                      Japan  yr_1992  100.000000
345                     Jordan  yr_1992   97.652016
346                 Kazakhstan  yr_1992   97.980820
347                      Kenya  yr_1992    7.693267
348                   Kiribati  yr_1992   91.353081
349                Korea, Rep.  yr_1992         NaN
350                     Kuwait  yr_1992  100.000000
351            Kyrgyz Republic  yr_1992   99.504173
352                    Lao PDR  yr_1992   22.843615
353                     Latvia  yr_1992  100.000000
354                    Lebanon  yr_1992   97.643173
355                    Lesotho  yr_1992         NaN
356                    Liberia  yr_1992         NaN
357                      Libya  yr_1992   99.992844
358              Liechtenstein  yr_1992  100.000000
359                  Lithuania  yr_1992  100.000000
360                 Luxembourg  yr_1992  100.000000
361           Macao SAR, China  yr_1992         NaN
362             Macedonia, FYR  yr_1992   91.102982
363                 Madagascar  yr_1992    9.200000
364                     Malawi  yr_1992    3.200000
365                   Malaysia  yr_1992   94.157753
366                   Maldives  yr_1992   75.279457
367                       Mali  yr_1992    0.842802
368                      Malta  yr_1992  100.000000
369           Marshall Islands  yr_1992   55.263992
370                 Mauritania  yr_1992    5.257362
371                  Mauritius  yr_1992   98.803391
372                     Mexico  yr_1992   93.145981
373      Micronesia, Fed. Sts.  yr_1992         NaN
374                      World  yr_1992   72.477491
375                Afghanistan  yr_1993         NaN
376                    Albania  yr_1993  100.000000
377                    Algeria  yr_1993   94.196053
378             American Samoa  yr_1993         NaN
379                    Andorra  yr_1993  100.000000
380                     Angola  yr_1993   46.112480
381        Antigua and Barbuda  yr_1993   83.776909
382                  Argentina  yr_1993   92.152405

## World Bank country names to delete

Arab World, Middle income, Europe & Central Asia (IDA & IBRD countries), IDA total, Latin America & the Caribbean (IDA & IBRD countries), Middle East & North Africa (IDA & IBRD countries), *blank* (ID 268), Europe & Central Asia (excluding high income), IBRD only, IDA only, Early-demographic dividend, Latin America & the Caribbean (excluding high income), Middle East & North Africa, Middle East & North Africa (excluding high income), Late-demographic dividend, Pacific island small states, Europe & Central Asia, European Union, High income, IDA & IBRD total, IDA blend, Caribbean small states, Central Europe and the Baltics, East Asia & Pacific, East Asia & Pacific  (excluding high income), Low & middle income, Lower middle income, Other small states, Latin America & Caribbean, East Asia & Pacific (IDA & IBRD countries), Euro area, OECD members, North America, Middle East & North Africa (excluding high income),  Post-demographic dividend, Small states, South Asia, Upper middle income, World, heavily indebted poor countries (HIPC), Least developed countries: UN classification, *blank* (ID 267), *blank* (ID 265), Latin America & Caribbean, IDA & IBRD total, IBRD only, Europe & Central Asia, sub-Saharan Africa (excluding high income), Macao SAR China,  sub-Saharan Africa, pre-demographic dividend, South Asia (IDA & IBRD), sub-Saharan Africa (IDA & IBRD), Upper middle income, fragile and conflict affected

In [4]:
drop_patterns = "Arab World, Middle income, Europe & Central Asia (IDA & IBRD countries), IDA total, Latin America & the Caribbean (IDA & IBRD countries), Middle East & North Africa (IDA & IBRD countries), blank (ID 268), Europe & Central Asia (excluding high income), IBRD only, IDA only, Early-demographic dividend, Latin America & the Caribbean (excluding high income), Middle East & North Africa, Middle East & North Africa (excluding high income), Late-demographic dividend, Pacific island small states, Europe & Central Asia, European Union, High income, IDA & IBRD total, IDA blend, Caribbean small states, Central Europe and the Baltics, East Asia & Pacific, East Asia & Pacific (excluding high income), Low & middle income, Lower middle income, Other small states, Latin America & Caribbean, East Asia & Pacific (IDA & IBRD countries), Euro area, OECD members, North America, Middle East & North Africa (excluding high income), Post-demographic dividend, Small states, South Asia, Upper middle income, World, heavily indebted poor countries (HIPC), Least developed countries: UN classification, blank (ID 267), blank (ID 265), Latin America & Caribbean, IDA & IBRD total, IBRD only, Europe & Central Asia, sub-Saharan Africa (excluding high income), Macao SAR China, sub-Saharan Africa, pre-demographic dividend, South Asia (IDA & IBRD), sub-Saharan Africa (IDA & IBRD), Upper middle income, fragile and conflict affected"
drop_patterns = [patt.strip() for patt in drop_patterns.split(",")]

def pick_wanted_entities(entities, drop_patterns=drop_patterns):
    """
    Input: 
    * a list of entities that correspond to a dataframe of observations for which these may be in the index
    * a list of which entities you'd like to eliminate
    
    Output: which indices to drop from the originating dataframe to eliminate the desired entities
    """
    
    ix_to_drop = [ix for ix, entity in enumerate(entities) if entity not in drop_patterns]
    return(ix_to_drop)

entities = ["France", "Ghana", "Middle income", "Europe & Central Asia (IDA & IBRD countries)", "IDA total"]

print(pick_wanted_entities(entities))
print(pick_wanted_entities(entities, drop_patterns=["France", "Ghana"]))

[0, 1]
[2, 3, 4]